* {
    box-sizing: border-box;
    margin: 0;
}

.wrapper_card {
    border-style: solid;
    border-color: #EBEAEA;
    height: 550px;
    width: 340px;
    margin: 0 auto 40px auto;
}


.wrapper_text_card {
    padding: 25px;
}

.img_card img{
    height: 165px;
    width: 100%;
    margin: 0;
}

.header_card {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    color: var(--card-page-header-card);
    margin-bottom: 20px;
}

.text_card p {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--card-page-text-card-p);
    margin-bottom: 20px;
    text-align: left;
}

.read_more-blog{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--card-page-read-more);
}

.read_more-blog span {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #333333;
    border-bottom: 2px solid #A30606;
}
