.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.1) 100%), center center/cover no-repeat;
    background-image: url("../img/IMG_9550.JPG");
    width: 100%;
    height: 750px;
}

.main_text_promo_about_img {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 67px;
    color: #FFFFFF;
    text-align: center;
}

.text_promo_img {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    color: #FFFFFF;
    text-align: center;
    width: 49%;
    margin: 0 auto;
}