юwrapper_main_text__blog-page {
    width: 80%;
    background-color: #333333;
}
.wrapper__blog-page {
    display: flex;
    justify-content: left;
    background-color: #F6FAFA;
}
.wrapper_main_text__blog-page {
    width: 620px;
    background-color: #FFFFFF;
}
.header_main_text__blog-page {
    text-align: left;
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    color: var(--blog-page-header-main-text);
    margin-bottom: 70px;
}

.main_text__blog-page {
    display: flex;
    flex-direction: column;
}

.main_text__blog-page p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    color: var(--blog-page-main-text-p);
    text-align: left;
    margin-bottom: 20px;
}

img {
    margin-bottom: 20px;
}