.wrapper_section_about_img_right {
    display: flex;
    justify-content: center;
    text-align: center;
}

.wrapper_text_section_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapper_text_section_about h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 64px;
    color: #A30606;
    text-align: left;
    margin-bottom: 20px;
}

.wrapper_text_section_about p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    color: #000000;
    text-align: left;
}

.wrapper_img1 img{
    height: 787px;
    width: 524px;
}

.wrapper_section_about_img_left {
    margin-top: 100px;
}

.wrapper_img2 img {
    height: 432px;
    width: 524px;
}

@media only screen and (max-width: 600px){
    .wrapper_section_about_img_right {
        display: flex;
        flex-direction: column-reverse;
    }
    .wrapper_img1 img {
        margin-top: 20px;
        height: 455px;
        width: 300px;
    }

    .wrapper_img2 img {
        display: block;
        margin: 20px auto;
        height: 247px;
        width: 300px;
    }
}



