.size_img {
    height: 500px;
    margin: 20px auto;
}

.carousel_size_carousel {
    margin: 0 auto;
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
    background-color: rgba(0,0,0,0.3);
}

@media only screen and (max-width: 600px) {
    .size_img {
        margin: 20px auto;
        height: 200px;
    }

    .size_carousel {
        margin: 0 auto;
        width: 350px;
    }
}

.carousel_size_carousel {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .carousel_size_carousel {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .carousel_size_carousel {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .carousel_size_carousel {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .carousel_size_carousel {
        max-width: 1000px
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.header_caruosel {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 64px;
    color: var(--coaching--header-coaching);
    text-align: center;
    margin-top: 85px;
}