:root {
  --color-centered-title: #A30606;
  --blog-page-main-text-p: #000000;
  --blog-page-header-main-text: #000000;
  --card-page-header-card: #000000;
  --card-page-read-more: #A30606;
  --card-page-text-card-p: #000000;
  --coaching--header-coaching: #000000;
  --FAQ--faq-header-p: #EBEDED;
  --FAQ-color: #EBEDED;
  --navibar-navbar-item-link: #333333;
  --navibar-reasons-round: #A30606;
  --navibar-wrapper-help-promo-text: #000000;
  --navibar-h2-help-promo-text: #000000;
  --color-navibar-item: #bed4cf;
  --color-red:  #A30606;
  --color-faq: #4d7775;
  --FAQ-btn-link: #A30606;
  --FAQ-btn-link-hover: #333333;
}

*{
  font-family: Lato;
}

.centered-title {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 40px;
  color: var(--color-centered-title);
  text-align: center;
  margin: 80px auto 55px auto;
}

.red-button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin: 40px auto 40px auto;
  background-color: var(--FAQ-btn-link);
}

.red-button:hover {
  background-color: var(--FAQ-btn-link-hover);
}

.wrapper_section_about_img_right {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 80px;
}

.wrapper_text_section_about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper_text_section_about h2 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 64px;
  color: #A30606;
  text-align: left;
  margin-bottom: 10px;
}

.wrapper_text_section_about p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
  color: #000000;
  text-align: left;
  margin: 10px;
}

.wrapper_img1-about img{
  height: 787px;
  width: 524px;
  margin: 80px 0 0 0;
}

.wrapper_section_about_img_left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.wrapper_img2-about img {
  height: 727px;
  width: 524px;
  margin: 0 auto 50px auto;
}

@media only screen and (max-width: 600px){
  .wrapper_section_about_img_right {
    display: flex;
    flex-direction: column-reverse;
  }
  .wrapper_img1-about img {
    margin-top: 20px;
    height: 455px;
    width: 300px;
  }

  .wrapper_img2-about img {
    display: block;
    margin: 20px auto;
    height: 247px;
    width: 300px;
  }

  .wrapper_catalog_items_blog{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
  }
}

/*.testimonials_header {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  margin: 15px auto 60px auto;*/
/*  width: 100%;*/
/*  height: 90px;*/
/*  background-color: var(--FAQ-color);*/
/*}*/

/*.testimonials_header p {*/
/*  font-family: 'Lato';*/
/*  font-weight: 400;*/
/*  font-size: 48px;*/
/*  text-align: center;*/
/*  color: #323111;*/
/*}*/

.wrapper_card_flex {
  display: flex;
  justify-content: center;
}

.wrapper_catalog_items_blog{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
  gap: 10px;
}

.catalog_item_blog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200.97px;
  height: 40.8px;
  background: #333333;
  border-radius: 5px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 250;
  font-size: 22px;
  color: #FFFFFF;
}

.catalog_item_blog:hover {
  background: #A30606;
}

#active-red-catalog-item-blog {
  background: #A30606;
}

@media only screen and (max-width: 768px) {
  .wrapper_all_blog {
    display: flex;
    flex-direction: column;
  }
}
