:root {
  --blog-page-main-text-p: #A30606;
  --blog-page-header-main-text: #000000;
  --card-page-header-card: #000000;
  --card-page-read-more: #A30606;
  --card-page-text-card-p: #A30606;
  --coaching--header-coaching: #000000;
  --FAQ-btn-link: #A30606;
  --FAQ--faq-header-p: #EBEDED;
  --FAQ-color: #EBEDED;
  --navibar-navbar-item-link: #333333;
  --navibar-reasons-round: #A30606;
  --navibar-wrapper-help-promo-text: #000000;
  --navibar-h2-help-promo-text: #000000;
  --color-navibar-item: #bed4cf;
  --color-red:  #A30606;
  --color-faq: #4d7775;
}

*{
  font-family: Lato;
}
