@import "../../../App.css";
.reasons .reasons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#reasons {
    gap: 40px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.reason_row {
    display: flex;
    flex-direction: row;
    gap: 40px;
}


.reasons .reasons_block .reasons_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    /* width: 150px;
    height: 150px;
    background-color: var(--navibar-reasons-round);
    border-radius: 100%; */
}

.reasons .reasons_block .reasons_round img::before {
    content: "";
    display: block;
    width: 150px;
    height: 150px;
    background-color: var(--navibar-reasons-round);
    border-radius: 100%;
}

.reasons .reasons_block .reasons_round img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.reasons .reasons_block .reasons_descr .reasons_subtitle{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    color: #000000;
}

.reasons .reasons_block .reasons_descr .reasons_text {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    color: #000000;
}

@media (max-width: 1200px) {
    .reasons_block {
        align-items: flex-start;
    }
}

@media (max-width: 1000px) {
    .reason_row {
        flex-direction: column;
        gap: 10px;
        padding: 0!important;
    }

    #reasons {
        gap: 10px;
    }

    .reasons .reasons_block {
        width: 100%;
        gap: 10px;
    }

    .reasons_block:nth-child(2),
    .reasons_block:nth-child(4) {
        flex-direction: row-reverse;
    }
}

@media (max-width: 991px) {
    .reasons .reasons_round {
        margin-right: 0!important;
    }

    .reasons .reasons_block .reasons_descr .reasons_text {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .reasons {
        padding: 40px 0; }
    .reasons_subtitle {
        text-align: center; }
    .reasons_text {
        margin-top: 10px; }
}

@media (max-width: 575px) {
    .reasons {
        padding: 22px 0 36px 0; }
    .reasons_block {
        margin-top: 26px; }
    .reasons .reasons_block .reasons_round img::before,
    .reasons .reasons_block .reasons_round img {
        width: 100px!important;
        height: 100px!important; }
    .reasons_subtitle {
        font-size: 16px;
        text-align: left; }
    .reasons_text {
        margin-top: 0; }
}

.wrapper_help_promo_text p {
    margin-top: 40px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    color: #000000;
}

.wrapper_help_promo_text + h2 {
    margin-bottom: 0;
}